<section class="container">
  <nav class="vnav">
    <ul class="vnav-menu">
      <li>
        <a href="/edu-zone" class="vnav-item">
          Edu-Zone Tutorials
        </a>
      </li>
      <li>
        <a href="/forum" class="vnav-item">
          Forum
        </a>
      </li>
      <li>
        <a href="/careers" class="vnav-item">
          The Career Shop
        </a>
      </li>
    </ul>
  </nav>
</section>

<div id="login-form">
	<form action="/login" method="POST">

  <h3>Login</h3>

    <div id="login-box">
  		<input type="text" name="username" placeholder="enter username"><br><br>
  		<input type="password" name="password" placeholder="enter password"><br><br>
  	</div><br>

    <input type="submit" value="Submit">
	</form>
</div>