<script>
$.get("http://ipinfo.io", function(response) {
		$('#city').val(response.city);
		$('#region').val(response.region);
		$('#country').val(response.country);
	}, "jsonp");
</script>

<form action="/signup" method="POST">
	<p>Username: </p>
	<input type="text" name="username"><br>
	<p>Password: </p>
	<input type="text" name="password"><br>
	<p>Profile Picture URL: </p>
	<input type="text" name="profile_img"><br><br>
	<input id="city" type="hidden" name="city">
	<input id="region" type="hidden" name="region">
	<input id="country" type="hidden" name="country">
	<input type="submit" text="SUBMIT">
</form>