<section class="container">
  <nav class="vnav">
    <ul class="vnav-menu">
      <li>
        <a href="/edu-zone" class="vnav-item">
          Edu-Zone Tutorials
        </a>
      </li>
      <li>
        <a href="/forum" class="vnav-item">
          Forum
        </a>
      </li>
      <li>
        <a href="/careers" class="vnav-item">
          The Career Shop
        </a>
      </li>
    </ul>
  </nav>
</section>

<script>
$.get("http://ipinfo.io", function(response) {
		$('#city').val(response.city);
		$('#region').val(response.region);
		$('#country').val(response.country);
	}, "jsonp");
</script>

  <form action="/signup" method="POST">
    <div id="signup">
    <h3>Signup</h3>
      <div id="signup-content">
        	<p>Username: </p>
        	<input type="text" name="username"><br>
        	<p>Password: </p>
        	<input type="password" name="password"><br>
        	<p>Profile Picture URL: </p>
        	<input type="text" name="profile_img"><br><br>
        	<input id="city" type="hidden" name="city">
        	<input id="region" type="hidden" name="region">
        	<input id="country" type="hidden" name="country">
      </div><br>
      <input type="submit" text="SUBMIT">
    </div>
  </form>