<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Clarify Concepts Forum</title>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../../css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../../css/style.css">
	</head>

	<body>

	<div id="logo"></div>
	<div id="background"></div>
		{{{body}}}
	
	</body>

</html>