<form action="/biology" method="POST">
	<input type="hidden" name="forum_id" value="1">
	<label for="topic">
		<input type="text" name="topic" placeholder="enter topic">
	</label>
	<label for="content">
		<input type="text" name="content">
	</label>
	<input type="submit" value="SUBMIT">
</form>