<form action="/forum/post/edit/{{id}}" method="POST">
	<input type="hidden" name="_method" value="PUT">
	<input type="text" name="topic" value="{{topic}}">
	<input type="text" name="content" value="{{content}}">
	<input type="submit" value="SUBMIT">
</form>