<section class="container">
  <nav class="vnav">
    <ul class="vnav-menu">
      <li>
        <a href="/edu-zone" class="vnav-item">
          Edu-Zone Tutorials
        </a>
      </li>
      <li>
        <a href="/forum" class="vnav-item">
          Forum
        </a>
      </li>
      <li>
        <a href="/careers" class="vnav-item">
          The Career Shop
        </a>
      </li>
    </ul>
  </nav>
</section>

<div id="intro">
  <img src="images/intro.png" />
  <br><br><h4>(Please view in full screen)</h4>
</div>
