<section class="container">
  <nav class="vnav">
    <ul class="vnav-menu">
      <li>
        <a href="/edu-zone" class="vnav-item">
          Edu-Zone Tutorials
        </a>
      </li>
      <li>
        <a href="/forum" class="vnav-item">
          Forum
        </a>
      </li>
      <li class="active">
        <a href="/careers" class="vnav-item">
          The Career Shop
        </a>
        <ul class="vnav-subnav">
          <li><a href="/careers/performer-path">Performer Path </a></li>
          <li><a href="/careers/service-path">Service Path </a></li>
          <li><a href="/careers/research-path">Research Path </a></li>
        </ul>
      </li>
    </ul>
  </nav>
</section>

<script type="text/javascript" src="/js/performer.js"></script>
<script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>

<div id="ytplayer"></div>