<section class="container">
  <nav class="vnav">
    <ul class="vnav-menu">
      <li>
        <a href="/edu-zone" class="vnav-item">
          Edu-Zone Tutorials
        </a>
      </li>
      <li>
        <a href="/forum" class="vnav-item">
          Forum
        </a>
      </li>
      <li>
        <a href="/careers" class="vnav-item">
          The Career Shop
        </a>
      </li>
    </ul>
  </nav>
</section>

<div id="posts">
  
  <div id="new-post">
    <span>
    	<a href="/forum/{{forumStuff.id}}/new">Create New Topic</a>
    </span>
  </div>

    <br><br><br>
  
	{{#each allPostData}}
  
    <div class="post-box">
      <span>
		    <a href="/forum/post/{{id}}">{{topic}}</a>
      </span>
    </div>

    <br><br>

	{{/each}}
	
</div>