<section class="container">
  <nav class="vnav">
    <ul class="vnav-menu">
      <li class="active">
        <a href="/edu-zone" class="vnav-item">
          Edu-Zone Tutorials
        </a>
        <ul class="vnav-subnav">
          <li><a href="/edu-zone/chem-zone">Chemistry Tutorials </a></li>
          <li><a href="/edu-zone/phys-zone">Physics Tutorials </a></li>
          <li><a href="/edu-zone/bio-zone">Biology Tutorials </a></li>
        </ul>
      </li>
      <li>
        <a href="/forum" class="vnav-item">
          Forum
        </a>
      </li>
      <li>
        <a href="/careers" class="vnav-item">
          The Career Shop
        </a>
      </li>
    </ul>
  </nav>
</section>

  <script type="text/javascript" src="/js/phys-tube.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>     
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="ytplayer"></div>
{{!-- 	<pre id="response"></pre> --}}
